[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.5"

[packages]
django = "*"
"psycopg2" = "*"
djangorestframework = "*"
django-cors-headers = "*"
